<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangchang.TaxiDataAnalysis.dao.RoadInfoDao" >
    <select id="getRoadList" resultType="com.yangchang.TaxiDataAnalysis.bean.po.RoadInfoPO">
        SELECT
          road_id roadId, road_name roadName, road_lon roadLon, road_lat roadLat,
          road_length roadLength, road_time roadTime
        FROM
          road
        <where>
          <if test="roadName != null and roadName != ''">
            and road_name like concat('%', #{roadName}, '%')
          </if>
        </where>
    </select>

    <select id="getRoadListInfo" resultType="com.yangchang.TaxiDataAnalysis.bean.po.RoadListInfoPO">
        SELECT
          COUNT(road_id) as roadListNum
        FROM
          road
        <where>
            <if test="roadName != null and roadName != ''">
                and road_name like concat('%', #{roadName}, '%')
            </if>
        </where>
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="roadId">
        insert into road (road_name, road_lon, road_lat, road_length, road_time)
        VALUES (#{roadName}, #{roadLon}, #{roadLat}, #{roadLength}, #{roadTime})
    </insert>

    <delete id="delete">
        delete from road where road_id = #{roadId}
    </delete>

    <update id="update">
        update road set
        <if test="roadName != null and roadName != ''">
             road_name = #{roadName},
        </if>
        <if test="roadLon != null and roadLon != ''">
             road_lon = #{roadLon},
        </if>
        <if test="roadLat != null and roadLat != ''">
             road_lat = #{roadLat},
        </if>
        <if test="roadTime != null and roadTime != ''">
             road_time = #{roadTime},
        </if>
        <if test="roadLength != null and roadLength != ''">
             road_length = #{roadLength},
        </if>
        road_id = #{roadId}
        where
        road_id = #{roadId}
    </update>
</mapper>