<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangchang.TaxiDataAnalysis.dao.RoadTripInfoDao" >
    <resultMap id="roadTripMap" type="com.yangchang.TaxiDataAnalysis.bean.po.RoadTripInfoPO">
        <id property="tripId" column="trip_id" />
        <result property="startRoadInfo.roadId" column="start_road_id" />
        <result property="startRoadInfo.roadName" column="start_road_name" />
        <result property="endRoadInfo.roadId" column="end_road_id" />
        <result property="endRoadInfo.roadName" column="end_road_name" />
        <result property="timeslot" column="timeslot" />
        <result property="totalTime" column="total_time" />
        <result property="totalMoney" column="total_money" />
        <result property="totalNum" column="total_num" />
    </resultMap>

    <select id="getRoadSeekingTripList" resultMap="roadTripMap">
        SELECT
          trip_id, start_road_id, r1.road_name as start_road_name,
                   end_road_id, r2.road_name as end_road_name,
          timeslot, total_seeking_time as total_time,
          total_money, total_num
        FROM
          road_seeking_trip r, road r1, road r2
        <where>
            <if test="timeslot != null and timeslot != ''">
                timeslot = #{timeslot} AND
            </if>
            <if test="startRoadInfo != null and startRoadInfo.roadName != null and startRoadInfo.roadName != ''">
                r1.road_name like concat('%', #{startRoadInfo.roadName}, '%')  AND
            </if>
            <if test="endRoadInfo != null and endRoadInfo.roadName != null and endRoadInfo.roadName != ''">
                r2.road_name like concat('%', #{endRoadInfo.roadName}, '%')  AND
            </if>
            r.start_road_id = r1.road_id AND
            r.end_road_id = r2.road_id
        </where>
    </select>

    <select id="getRoadSeekingTripListNum" resultType="java.lang.Integer">
        SELECT
          COUNT(trip_id) as roadTripListNum
        FROM
          road_seeking_trip
        <where>
            <if test="timeslot != null and timeslot != ''">
                and timeslot = #{timeslot}
            </if>
        </where>
    </select>

    <select id="getRoadDrivingTripList" resultMap="roadTripMap">
        SELECT
          trip_id, start_road_id, end_road_id, timeslot, total_driving_time as total_time,
          total_money, total_num
        FROM
          road_driving_trip
        <where>
            <if test="timeslot != null and timeslot != ''">
                and timeslot = #{timeslot}
            </if>
        </where>
    </select>

    <select id="getRoadDrivingTripListNum" resultType="java.lang.Integer">
        SELECT
          COUNT(trip_id) as roadTripListNum
        FROM
          road_driving_trip
        <where>
            <if test="timeslot != null and timeslot != ''">
                and timeslot = #{timeslot}
            </if>
        </where>
    </select>
</mapper>